
.colorAzul{
    background-color: #64CCC5;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.colorCeleste{
    background-color: #EEEEEE;
}
.lineaDivisora {
    width: 85% !important;
    margin-inline: auto;
    border: 1px solid rgba(27, 90, 133, 0.459);
    margin-block: 20px;
}
.toastError{
    background-color: rgb(247, 43, 43) !important;

}
.toastExito{
    background-color: rgb(45, 185, 52) !important;
}