#sideBar {
  color: whitesmoke;
  width: 330px;
  height: 100vh;
  position: fixed;
}
#contenedorSideBar {
  width: 350px;
  background-color: #053B50;
  height: 100vh;
}
#contenedorBotonesSideBar li {
  transition: background-color 0.5s ease; /* Agrega una transición de 0.5 segundos con función de temporización ease */
}
#contenedorBotonesSideBar li:hover {
  cursor: pointer;

  transition-duration: 0.7s;
}
#tamañoContenedorTablas {
  margin-inline: 2%;

}
#offcanvasBottom{
  position: fixed;

}

#contenedorInferiorBotonesSideBar{
  margin-block: 5px !important;
  display: flex !important;
  justify-content: space-around;
  padding: 0;
}

#contenedorInferiorBotonesSideBar li{
  width: 50px;
  height: 50px !important;
  border-radius: 50px;
  background-color: rgb(18, 43, 189);
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#contenedorInferiorBotonesSideBar li {
  transition: background-color 0.5s ease, box-shadow 0.5s ease, font-size 0.5s ease; /* Agrega una transición para cada propiedad con una duración de 0.5 segundos y función de temporización ease */
}

#contenedorInferiorBotonesSideBar li:hover {
  font-size: 1.7rem;
  box-shadow: 0px 0px 5px 1px rgba(242, 242, 242, 0.78);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(242, 242, 242, 0.78);
  -moz-box-shadow: 0px 0px 5px 1px rgba(242, 242, 242, 0.78);
  transition-duration: 0.5s;
}
#tamañoContenedorPrincipal{
  margin-inline: 40%;
}
@media (min-width: 1600px) {
  #tamañoContenedorTablas {
    width: 1530px;
    margin: auto;
  }
  #tamañoContenedorPrincipal {
    width: 1530px;
    margin: auto;
  }
}

#pantallaPrincipal {
 
  background-color:  #EEEEEE;
 
}

@media (max-width: 660px) {
  #sideBar {
    width: 70px;
  }
  #contenedorSideBar {
    width: 70px;
  }
}
.colorAzul {
  background-color: #64CCC5;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.lineaDivisora {
  width: 90% !important;
  margin-inline: auto;
  border: 1px solid #eeeeeea4;
  margin-top: 10px;
  margin-bottom: 15px;
}
.botonesSideBar {
  width: 250px !important;
  text-decoration: none;
  padding-left: 20px;
}

#detalleConsulta {
  resize: none;
  height: 150px;
}
#offcanvasScrolling{
  width: 300px ;
}
#offcanvasBottom{
  height: 8vh;
}
#contenerdorScrolleableTablas{
  height: 450px;
  overflow: auto;
}
@media(max-width:400px){
  #contenerdorScrolleableTablas{
    height:600px;
    overflow: auto;
  }
}
#titulosTablas{
  background-color:#176B87;
  font-family:sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: aliceblue;
}
#contenedorMiCuenta img{
  margin-right: 10px;
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
  border-radius: 100%; 
  border: 2px solid black;
  object-position: 0% 0%; 
}

#offcanvasScrollingLabel img{
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
  
}
.colorOscuro{
  background-color: #053B50;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#desplegableFiltros li:hover{
  background-color:  #a6d6d3;
  font-weight: 600;
  cursor: pointer;
}
.inputTamaño{
  width: 270px !important;
}

.letraboton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.colorCeleste {
  background-color: #EEEEEE;
}
